<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Node Campanhas Rest API</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="container">
        <div class="jumbotron text-center">
            <h1>
                This is the wiki of
                <strong>Campanhas</strong>
                <br/> Rest API
            </h1>
            <a href="https://bitbucket.org/antoniocarl0s/insis_rest_api/" class="btn btn-primary btn-lg">Check more on BitBucket</a>
        </div>
    </div>

</body>

</html>